body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #3c3c3c;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

* {
  box-sizing: border-box;
}