<h1>
    Поздравляем с успешной регистрацией <br>
    в конкурсе «Охотники за травами – 4»: <br>
    «Тур де Байкал»!
</h1>

<p class="mb-30 mt-30">
    Ваш статус – капитан
</p>

<hr>

<div class="col">
    <h3>
        Чтобы принять участие в конкурсе,
        <br>
        Вам нужно:
    </h3>
    <img src="img/user.png" alt="">
    <p>
        пригласить в свою команду <br> еще четырех человек;
    </p>
    <img src="img/edit.png" alt="">
    <p>
        <a href="#">заполнить заявку</a> на участие <br>
        на нашем сайте и отправить идею <br>
        своего экопроекта до 30 апреля<br>
    </p>
</div>

<hr>

<h2 class="mt-40 mb-30">
    Чтобы пригласить участников в свою команду,<br>
    отправьте им реферальную ссылку:
</h2>

<div class="copy-link">
    http://herbhunters.ru/?8372
</div>