<header class="col-head">
    <h1>
        Поздравляем, к Вашей команде
        присоединился новый участник!
    </h1>
</header>

<hr class="mt-40">

<div class="col">
    <h3>
        Чтобы принять участие в конкурсе,
        <br>
        Вам нужно:
    </h3>
    <img src="img/user.png" alt="">
    <p>
        пригласить в свою команду <br> еще четырех человек;
    </p>
    <img src="img/edit.png" alt="">
    <p>
        <a href="#"> отправить</a> идею своего экопроекта<br> до 30 апреля 2019 года.
    </p>
</div>