<h1>
    Поздравляем! Вы присоединились <br>
    к команде капитана <br>
    Константин Константинопольский
</h1>

<div class="col">
    <img src="img/edit.png" alt="">
    <p>
        Чтобы принять участие в конкурсе, <br>
        вам нужно разработать проект <br>
        по сохранению природы и отправить <br>
        его нам до 30 апреля 2019 года.
    </p>
</div>