<header class="col-wide">
    <h1>
        Поздравляем! Вы присоединились
        к команде капитана 
        Константин Константинопольский
    </h1>
</header>

<div class="col">
    <img src="img/edit.png" alt="">
    <p>
        Чтобы принять участие в конкурсе,
        вам нужно разработать проект 
        по сохранению природы и отправить 
        его нам до 30 апреля 2019 года.
    </p>
</div>