<header class="col-head">
    <h1>
        Поздравляем! Ваша команда полностью собрана!
    </h1>
</header>

<div class="col">
    <img src="img/edit.png" alt="">
    <p>
        Чтобы продолжить участие в конкурсе, вам нужно разработать проект по сохранению природы и заполнить заявку на
        <a href="#">нашем сайте</a> до 30 апреля 2019 года.
    </p>
</div>