<header class="col-wide">
    <h1>
        Поздравляем, заявка вашей команды успешно принята
    </h1>
</header>

<div class="col">
    <img src="img/50.png" alt="">
    <p>
        До 19 мая 2019 года мы объявим команды, которые с 20 до 24 мая 2019 года получат 50%-ю компенсацию на реализацию
        своих проектов.
    </p>

</div>

<h2>
    Главный победитель конкурса будет объявлен 1 июля.
</h2>