<header class="col-wide">
    <h1>
        Поздравляем с успешной регистрацией в конкурсе «Охотники за травами – 4»: «Тур де Байкал»
    </h1>

    <p class="mb-30 mt-30">
        Для участия в конкурсе Вам необходимо написать эссе на тему «Байкал, я люблю тебя!» и прислать его нам
        до 31 мая.
    </p>
</header>

<hr>

<div class="col">
    <h3>
        Требования к материалу:
    </h3>
    <p>
        соответствие целям конкурса;
    </p>
    <p>
        объем – 1 страница формата А4 (1500 знаков), размер шрифта – 12 (Times New Roman);
    </p>
    <p>
        художественный стиль;
    </p>
    <p>
        язык – русский или английский.
    </p>
</div>

<hr class="mb-40">

<div class="col-wide">
    <img src="img/comment.png" alt="">
    <p>
        Заполнить заявку на участие в конкурсе и загрузить эссе можно на сайте <a href="#">«Охотники за травами».</a>
    </p>
    <img src="img/pdf.png" alt="">
    <p>
        Ознакомиться с подробными правилами можно <a href="#">здесь (PDF).</a>
    </p>
    <img src="img/final.png" alt="">
    <p>
        10 июня мы объявим авторов пяти лучших эссе, которые отправятся в захватывающую экоэкспедицию на Байкал.
    </p>
</div>