<header class="col-wide">
    <h1>
        Конкурс «Охотники за травами – 4»: «Тур де Байкал» подходит к концу
    </h1>

    <p class="mb-30 mt-30">
        Успейте принять участие и выиграть захватывающее путешествие к жемчужине Сибири!
    </p>
    <p class="mb-30 mt-30">
        Отправьте эссе на тему «Байкал, я люблю тебя!» до 31 мая.
    </p>
</header>

<hr>

<div class="col">
    <h3 class="mb-30">
        Требования к материалу:
    </h3>
    <p>
        соответствие целям конкурса;
    </p>
    <p>
        объем – 1 страница формата А4 (1500 знаков), размер шрифта – 12 (Times New Roman);
    </p>
    <p>
        художественный стиль;
    </p>
    <p>
        язык – русский или английский.
    </p>
</div>

<hr class="mb-40">

<div class="col-wide">
    <img src="img/comment.png" alt="">
    <p>
        Заполнить заявку на участие в конкурсе и загрузить эссе можно на сайте <a href="#">«Охотники за травами».</a>
    </p>
    <img src="img/pdf.png" alt="">
    <p>
        Ознакомиться с подробными правилами можно <a href="#">здесь (PDF).</a>
    </p>
</div>