<header class="col-wide mb-40">
    <h1>
        Ваше эссе успешно отправлено
    </h1>
</header>

<div class="col-wide">
    <img src="img/final.png" alt="">
    <p>
        Имена авторов пяти лучших работ будут объявлены <a href="#">на нашем сайте</a> 10 июня.
    </p>
</div>