<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Охотники за травами</title>
  <link href="css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
  <%- yield %>
</body>

</html>